<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

      <!-- <context:component-scan base-package="com.yush.dao" >

       </context:component-scan>-->

       <!--<bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
              <property name="driverClass" value="com.mysql.jdbc.Driver"/>
              <property name="url" value="jdbc:mysql://localhost/eshop_data"/>
              <property name="username" value="adm"/>
              <property name="password" value="q1w2e3"/>
       </bean>-->

       <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
              <property name="configLocation" value="classpath:hibernate.cfg.xml"/>

              <!--
              <property name="dataSource" ref="dataSource"/>
-->
       </bean>
       <bean id="productDao" class="com.yush.dao.ProductsDAOImpl">
<!--
              <property name="sessionFactory" ref="sessionFactory"/>
-->
       </bean>
       <bean id="userDao" class="com.yush.dao.UsersDAOImpl">
<!--
              <property name="sessionFactory" ref="sessionFactory"/>
-->
       </bean>

<!--
       <tx:annotation-driven />
       <bean id="transactionManager"
             class="org.springframework.orm.hibernate4.HibernateTransactionManager">
              <property name="sessionFactory" ref="sessionFactory" />
       </bean>
       &lt;!&ndash; ===========================   TRANSACTIONS   ========================= &ndash;&gt;

       <tx:advice id="txAdvice" transaction-manager="transactionManager">
              <tx:attributes>
                     <tx:method name="get*" read-only="true"/>
                     <tx:method name="find*" read-only="true"/>
                     <tx:method name="*"/>
              </tx:attributes>
       </tx:advice>

       <aop:aspectj-autoproxy proxy-target-class="true" />-->

       <bean id="persistenceExceptionTranslationPostProcessor"
             class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>
       <context:annotation-config>

       </context:annotation-config>
</beans>