<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost/eshop_data</property>
        <property name="connection.username">adm</property>
        <property name="connection.password">q1w2e3</property>
        <property name="connection.pool_size">10</property>
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="hibernate.connection.autocommit">false</property>
        <property name="current_session_context_class">thread</property>
        <property name="hibernate.show_sql">true</property>

        <mapping class="com.yush.entity.Product"/>
        <mapping class="com.yush.entity.User"/>
        <mapping class="com.yush.entity.components.Email"/>
        <mapping class="com.yush.entity.components.Phone"/>
        <mapping class="com.yush.entity.components.Address"/>
        <mapping class="com.yush.entity.components.PrComment"/>
        <mapping class="com.yush.entity.components.Characteristic"/>

        </session-factory>
</hibernate-configuration>